<div class="bgbar">
    <div class="container pt-5 pb-5">
        <div class="row justify-content-center h-100">
            <div class="d-flex flex-wrap justify-content-center">
                <div class="card shadow mt-2 ">
                    <div class="card-body px-5">
                      <div class="card-header mb-2">
                        <div class="card-title"><h5>Edit Ground</h5></div></div>
            <form class="form"> 
              <div class="form-group form-floating">
                <input type="text"
                id="editName" placeholder="Edit Name" [(ngModel)]="ground.GroundName"
                class="form-control" formControlName="GroundName" />
                <label>Enter Name</label>
              </div>
              <div class="form-group form-floating">
                  <input type="text"
                  id="editTiming" placeholder="Edit Timing" [(ngModel)]="ground.GroundTiming"
                  class="form-control" formControlName="GroundTiming" />
                  <label>Enter the Available Timing</label>
              </div>
                <div class="form-group form-floating">
                  <input type="text"
                   id="editAddress" placeholder="Edit Address" [(ngModel)]="ground.GroundAddress"
                   class="form-control" formControlName="GroundAddress" />
                   <label>Enter the address</label>
                </div>
                <div class="form-group form-floating">
                  <input type="text"
                   id="editImageUrl" placeholder="ImageUrl" [(ngModel)]="ground.GroundImageURL"
                   class="form-control" formControlName="GroundImageURL" />
                   <label>Enter the Image Url</label>
                </div>
                <div class="form-group form-floating">
                  <input type="text"
                  id="editPrice" placeholder="Price" [(ngModel)]="ground.price"
                  class="form-control" formControlName="price"/>
                  <label>Enter the Price</label>
                </div>
                <div class="form-group  form-floating">
                  <input type="text" placeholder="Ground Description" [(ngModel)]="ground.GroundDescription"
                 id="editDescription" class="form-control" formControlName="GroundDescription" />
                  <label>Description</label>
                </div>
  
               <button class="btn btn-primary me-2" type="submit" id="updateButton" (click)=handleGround()>Update</button>
               <a routerLink="../dashboard" href="" class="btn btn-white-link">Cancel</a>
              </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
  