<div class="bgbar">
    <div class="contain pt-5 pb-5">
      <div class="row ">
        <div class="d-flex flex-wrap justify-content-center">
          <div  class=" card shadow elevation-z4">
            <div class="card-header" >
              <div class="card-title">Edit Booking Details</div>
            </div>
            <div class="card-body px-5">
          <form [formGroup]="editbooking" class="form">
            <div>
              <input placeholder="groundname" name="groundname" [(ngModel)]="booking.groundName"
              class="form-control" formControlName="groundName"/>
          </div>
            <div>
              <input placeholder="Address" name="address" [(ngModel)]="booking.address"
              class="form-control" formControlName="address"/>
            </div>
            <div>
              <input type="date" placeholder="From date:" id="editBookingDate" name="trip-start" value=""
              min="2020-03-01" max="2020-04-31" [(ngModel)]="booking.fromDate"
              class="form-control" formControlName="fromDate"/>
            </div>
            <div>
              <input type="date" placeholder="To date:" id="editBookingDate1" name="trip-start" value=""
              min="2020-03-01" max="2020-04-31" [(ngModel)]="booking.toDate"
              class="form-control" formControlName="toDate"/>
            </div>
            <div>
              <input placeholder="No. of persons" name="noofpersons" id="editNoOfPerson" [(ngModel)]="booking.noOfPersons"
              class="form-control" formControlName="noOfPersons"/>
            </div>
            <div>
              <input placeholder="Total Price" name="Total price" [(ngModel)]="booking.totalPrice"
              class="form-control" formControlName="totalPrice"/>
            </div>
                <button  type="submit" class="btn btn-primary w-50 me-2" (click)=handleBooking()>Save</button>
             
            </form>
            
          </div>
    </div>
    </div>
    </div>
    </div>
    </div>