<div class="container pt-5 pb-5">
    <div class="d-flex">
    <button class="btn btn-primary mb-2 me-2" routerLink="../adduser">Add User</button>
    </div>
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">User Name</th>
                <th scope="col">Email-id</th>
                <th scope="col">Role</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">Password</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody *ngFor="let user of users">
            <tr>
                <td><p *ngIf="user.UserID">{{ user.UserID }}</p></td>
                <td><p *ngIf="user.username">{{ user.username }}</p></td>
                <td><p *ngIf="user.email">{{ user.email }}</p></td>
                <td><p *ngIf="user.userRole">{{ user.userRole }}</p></td>
                <td><p *ngIf="user.mobileNumber">{{ user.mobileNumber }}</p></td>
                <td><p *ngIf="user.password">{{ user.password }}</p></td>
                <td>
                    <button class="btn btn-info" (click)=editUser(user.UserID)>Edit</button>
                    <button class="btn btn-danger mx-3" (click)=deleteUser(user.UserID)>Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    
